<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Elizabeth Hosler</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
<!--<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron.css" rel="stylesheet">-->
  </head>
  <body>
<!--    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>-->
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Elizabeth<br>Hosler</h1>
      <p>&#128105;&#127995;&#8205;&#128187; Hi there! I'm studying full-stack software development and seeking an entry-level software engineering role. Welcome to my site&#8212;make yourself at home.</p>
      <!--<button type="button" class="btn btn-outline-light">Continue -></button>-->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Resume</h2>
        <p>My professional background is in international exchange, so in addition to French and Spanish, I've recently added some programming languages to my toolbelt.</p>
        <%= link_to 'Download Resume', {:action => :download}, :class => "btn btn-primary" %>
        <p></p>
      </div>
      <div class="col-md-4">
        <h2>Projects</h2>
        <p>I have experience working with Ruby, Javascript, HTML, & CSS, as well as the Rails and Angular frameworks.</p>
                <p><a class="btn btn-primary" href="#projects" role="button">View projects &raquo;</a></p>
      </div>
      <div class="col-md-4" style="font-size: 20px;">
        <h2>Let's Connect</h2>
        <div id="icons">
        <a href="https://github.com/lizziehosler"class="fab fa-github fa-2x" target="_blank"></a> 
        <a href="https://www.linkedin.com/in/elizabeth-hosler/" class="fab fa-linkedin-in fa-2x" target="_blank"></a>
        </div>
        <p>lizzie.hosler@gmail.com<br>573-837-6667</p>
      </div>
    </div>
    





  </div> <!-- /container -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <a><h2 id="projects">Projects</h1></a>
    <h5> Car Dealership Inventory App</h5>
        <p>Independent project utilizing a Rails API and Angular frontend, that simulates a used car dealership inventory with employee login capability.</p>
        <p><a class="btn btn-outline-primary" 
              href="https://github.com/lizziehosler/rails-car-api" 
              target="_blank" 
              role="button" 
              style="margin:5px;">Car Dealership API&raquo;</a>
        <a class="btn btn-outline-primary" 
          href="https://github.com/lizziehosler/angular-car-dealership" 
          target="_blank" 
          role="button" 
          style="margin:5px;">Car Dealership Frontend&raquo;</p></a>
       
    <h5>Employer Project</h5>
       
        <p>I'm currently working with a local employer to implement a Slack-integrated Angular application allowing for submission of anonymous questions that will tie into a region-wide management system for coding bootcamps. </p>
        <button type="button" class="btn btn-outline-primary">Coming Soon!</button></p>
  </div>
</div>
</main>



<footer class="container">
  <p>&copy; Elizabeth Hosler <span id="year"><%= Date.today.year %></span></p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <!--<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>-->
</html>