/*
 *= require font-awesome
 */

@import "~bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:wght@400;700;900&display=swap");
@import "~@fortawesome/fontawesome-free/scss/fontawesome"; 


$white: #EFF1F3;
$black: #1F2232;
$pink: #F3D9DC;
$orange: #D78521;
/*$mauve: #B23A48;*/


/*.navbar {
    margin-bottom: 0;
    background: $brown;
}*/
body {
  background: $white;
  color: $black;
  font-family: "Lato", sans-serif;

 
}

h1.display-3 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
  color: $black
}
p {
  font-size: 16px;
  color: $black;
}
a:visited {
  color: $orange;
}
.jumbotron {
  background: $orange;
  color: $pink;
  text-align: left;
  p {
    color: $white;
    font-size: 26px;
  }
}

.btn-primary,
.btn-primary:focus {
  color: $white!important;
  border-color: $white;
  background-color: $orange;
  margin-bottom: 5px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
  background: $black!important;
  border-color: $white;
  color: $white
}

img,
video,
audio {
  margin-top: 20px;
  max-width: 80%;
}
caption {
  float: left;
  clear: both;
}

#icons a { 
  color: $orange;
  align-content: f;
  justify-content: space-between; 
  margin: 0 20px 0 0;
  margin-top: 10px;
  margin-bottom:25px;
  text-decoration: none
}
#icons a:hover {
  text-decoration: none
}

.jumbotron-fluid {
  background-color: $pink;
  color: $orange;
  padding-top: 25px;
  padding-bottom: 20px;
  p {
    font-size: 1rem;
    color: $black;
  }
  h5 {
    color: $black;
    font-weight: bold;
  }
}

h2#projects {

  color: $black!important;

}

.btn-outline-primary,
.btn-outline-primary:focus {
  color: $black!important;
  border-color: $white;
  background-color: $white;
  margin-bottom: 5px;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary.active {
  background: $orange!important;
  border-color: $orange;
  color: $orange;
}
